body{
    background-color: blueviolet;
}
.container{
    background-image: url(1.jpg);
    background-size: cover;
    height: 500px;
    overflow: auto;
}
.layer{
    background-color: rgba(0, 0, 0, 0.538);
    height: 100%;
    overflow: auto;
}
.enter{
    text-align: center;
    margin-top: 250px;

}
.enter h1{
    color: aliceblue;
}
.enter p{
    color: aliceblue;
}
button{
    padding: 11px;
    border-radius: 900px;
    border: 2px solid violet;
}
.contain{
    width: 90%;
    margin-inline:auto;
}
.contain h1{
    text-align: center;
}
.items{
    float: left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding-inline: 20px;
}

.items img{
    width: 100%;
    border-radius: 100%;
    border: 6px solid violet;
}
.cls{
    clear: both;
}
